<div class="arched-widgets page-width">
  <div class="arched-heading">Gods We Worship</div>
  <div class="arched-grid">

        <a href="/collections/ganesh-collection" class="arched-card">
          
            <img src="//astrotalk.store/cdn/shop/files/ganesh_large.png?v=1753449293" alt="Ganesh Collection" class="arched-img">
          
          <div class="arched-title">Ganesh Collection</div>
          <div class="arched-subtitle"></div>
        </a>
      
        <a href="/collections/hanuman-collection" class="arched-card">
          
            <img src="//astrotalk.store/cdn/shop/files/hanuman_large.png?v=1753449293" alt="Hanuman Collection" class="arched-img">
          
          <div class="arched-title">Hanuman Collection</div>
          <div class="arched-subtitle"></div>
        </a>
      
        <a href="/collections/shiv-ji-collection" class="arched-card">
          
            <img src="//astrotalk.store/cdn/shop/files/shiv_collection_large.png?v=1753449293" alt="Shiv Collection" class="arched-img">
          
          <div class="arched-title">Shiv Collection</div>
          <div class="arched-subtitle"></div>
        </a>
   
        <a href="/collections/ram-lalla-collection" class="arched-card">
          
            <img src="//astrotalk.store/cdn/shop/files/ram_large.png?v=1753449293" alt="Ram Collection" class="arched-img">
          
          <div class="arched-title">Ram Collection</div>
          <div class="arched-subtitle"></div>
        </a>
  </div>
</div>