    <div class="icartShopifyCartContent">
{{ content_for_layout }}
</div>
<div class="ic-additional-checkout-buttons" style="display: none">
{{ content_for_additional_checkout_buttons | escape }}
</div>
<style>.icartShopifyCartContent{width: 100%;}</style>