<div class="product-specifications open-tab"> 
  <h3 class="accordion-title active">
   <span>
    <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">

  <path fill-rule="evenodd" clip-rule="evenodd" d="M12.563 3.2H11.437L10.792 5.778L10.145 5.978C9.76798 6.09417 9.40271 6.24551 9.054 6.43L8.455 6.747L6.175 5.379L5.379 6.176L6.747 8.456L6.43 9.054C6.24516 9.40268 6.0935 9.76795 5.977 10.145L5.778 10.792L3.2 11.437V12.563L5.778 13.208L5.978 13.855C6.09333 14.2337 6.244 14.5973 6.43 14.946L6.747 15.545L5.379 17.825L6.176 18.621L8.456 17.253L9.054 17.57C9.40267 17.7553 9.76633 17.9063 10.145 18.023L10.792 18.222L11.437 20.8H12.563L13.208 18.222L13.855 18.022C14.232 17.9058 14.5973 17.7545 14.946 17.57L15.545 17.253L17.825 18.621L18.621 17.824L17.253 15.544L17.57 14.946C17.7553 14.5973 17.9063 14.2337 18.023 13.855L18.222 13.208L20.8 12.563V11.437L18.222 10.792L18.022 10.145C17.9058 9.76798 17.7545 9.40271 17.57 9.054L17.253 8.455L18.621 6.175L17.824 5.379L15.544 6.747L14.946 6.43C14.5973 6.24516 14.2321 6.0935 13.855 5.977L13.208 5.778L12.563 3.2ZM15.508 5.37L17.341 4.27C17.5321 4.15536 17.7561 4.10786 17.9773 4.13504C18.1985 4.16221 18.4043 4.26251 18.562 4.42L19.58 5.438C19.7375 5.5957 19.8378 5.80149 19.865 6.02271C19.8921 6.24392 19.8446 6.46787 19.73 6.659L18.63 8.492C18.85 8.90533 19.03 9.33867 19.17 9.792L21.243 10.311C21.4592 10.3652 21.6512 10.49 21.7883 10.6658C21.9255 10.8415 22 11.0581 22 11.281V12.719C22 12.9419 21.9255 13.1585 21.7883 13.3342C21.6512 13.51 21.4592 13.6348 21.243 13.689L19.17 14.208C19.03 14.6613 18.85 15.0947 18.63 15.508L19.73 17.341C19.8446 17.5321 19.8921 17.7561 19.865 17.9773C19.8378 18.1985 19.7375 18.4043 19.58 18.562L18.562 19.58C18.4043 19.7375 18.1985 19.8378 17.9773 19.865C17.7561 19.8921 17.5321 19.8446 17.341 19.73L15.508 18.63C15.0947 18.85 14.6613 19.03 14.208 19.17L13.689 21.243C13.6348 21.4592 13.51 21.6512 13.3342 21.7883C13.1585 21.9255 12.9419 22 12.719 22H11.281C11.0581 22 10.8415 21.9255 10.6658 21.7883C10.49 21.6512 10.3652 21.4592 10.311 21.243L9.792 19.17C9.3427 19.0312 8.90744 18.8504 8.492 18.63L6.659 19.73C6.46787 19.8446 6.24392 19.8921 6.02271 19.865C5.80149 19.8378 5.5957 19.7375 5.438 19.58L4.42 18.562C4.26251 18.4043 4.16221 18.1985 4.13504 17.9773C4.10786 17.7561 4.15536 17.5321 4.27 17.341L5.37 15.508C5.14964 15.0926 4.96885 14.6573 4.83 14.208L2.757 13.689C2.54092 13.6349 2.3491 13.5101 2.21196 13.3346C2.07483 13.1591 2.00023 12.9428 2 12.72V11.282C2.00001 11.0591 2.0745 10.8425 2.21166 10.6668C2.34881 10.491 2.54075 10.3662 2.757 10.312L4.83 9.793C4.97 9.33967 5.15 8.90633 5.37 8.493L4.27 6.66C4.15536 6.46887 4.10786 6.24492 4.13504 6.02371C4.16221 5.80249 4.26251 5.5967 4.42 5.439L5.438 4.42C5.5957 4.26251 5.80149 4.16221 6.02271 4.13504C6.24392 4.10786 6.46787 4.15536 6.659 4.27L8.492 5.37C8.90533 5.15 9.33867 4.97 9.792 4.83L10.311 2.757C10.3651 2.54092 10.4899 2.3491 10.6654 2.21196C10.8409 2.07483 11.0572 2.00023 11.28 2H12.718C12.9409 2.00001 13.1575 2.0745 13.3332 2.21166C13.509 2.34881 13.6338 2.54075 13.688 2.757L14.207 4.83C14.6603 4.97 15.0937 5.15 15.507 5.37H15.508ZM12 14.8C12.7426 14.8 13.4548 14.505 13.9799 13.9799C14.505 13.4548 14.8 12.7426 14.8 12C14.8 11.2574 14.505 10.5452 13.9799 10.0201C13.4548 9.495 12.7426 9.2 12 9.2C11.2574 9.2 10.5452 9.495 10.0201 10.0201C9.495 10.5452 9.2 11.2574 9.2 12C9.2 12.7426 9.495 13.4548 10.0201 13.9799C10.5452 14.505 11.2574 14.8 12 14.8ZM12 16C10.9391 16 9.92172 15.5786 9.17157 14.8284C8.42143 14.0783 8 13.0609 8 12C8 10.9391 8.42143 9.92172 9.17157 9.17157C9.92172 8.42143 10.9391 8 12 8C13.0609 8 14.0783 8.42143 14.8284 9.17157C15.5786 9.92172 16 10.9391 16 12C16 13.0609 15.5786 14.0783 14.8284 14.8284C14.0783 15.5786 13.0609 16 12 16Z" fill="#585858"/>

    </svg>Product Specifications </span> 

    <span class="icon-wrap">
      <!-- Plus Icon (default closed state) -->
      <svg class="icon-default" xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           viewBox="0 0 16 16" fill="none">
        <path d="M8 2V14M2 8H14" stroke="#585858" stroke-width="2" stroke-linecap="round"/>
      </svg>

      <!-- Minus Icon (open state) -->
      <svg class="icon-open " xmlns="http://www.w3.org/2000/svg" width="16" height="16"
           viewBox="0 0 16 16" fill="none">
        <path d="M2 8H14" stroke="#F29C04" stroke-width="2" stroke-linecap="round"/>
      </svg>
    </span>
    
  </h3> 

  {% assign pro_specs = product.metafields.custom.product_specs %}
  {% if pro_specs.value.size > 0 %}
    <div class="accordion-content" style="display: block;">
      <ul class="spec-list">
        {% for spec in pro_specs.value %}
          {% assign parts = spec | split: ':' %}
          <li>
            <strong>{{ parts[0] | strip }}</strong> : {{ parts[1] | strip }}
          </li>
        {% endfor %}
      </ul>
    </div>
  {% endif %}
</div>

{% style %}
.product-specifications {
    border-radius: 8px;
    border: 1px solid #DDD;
    margin: 10px 0;
    overflow: hidden;
    width:100%;
}
.product-specifications .accordion-title.active > span:first-child svg{
  fill:#F29C04;
  stroke:#F29C04;


}

.product-specifications .accordion-title > span:first-child {
    display: flex;
    align-items: center;
    gap: 4px;
}
.accordion-title {
    background: transparent;
    padding: 12px 16px;
    cursor: pointer;
    justify-content: space-between;
    display: flex;
    align-items: center;
    color: #585858;
    font-family: Inter, sans-serif;
    font-size: 14px;
    font-weight: 600;
    line-height: normal;
}

.icon-wrap {
    display: flex;
    align-items: center;
    gap: 5px;
}

.icon-open { display: none; } /* minus hidden by default */
.accordion-title.active .icon-default { display: none; }
.accordion-title.active .icon-open { display: inline-block; }

.accordion-title.active {
    color: #F29C04;
}

.accordion-content {
  display: none;
  padding: 0 16px 12px;
}

.spec-list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.spec-list li {
    font-family: Inter, sans-serif;
    font-size: 12px;
    padding: 6px 0;
    border-bottom: 1px solid #eee;
}
.spec-list li strong {
    color: #444;
    min-width: 115px;
}

.product-specifications.open-tab {
    border: 1px solid #F29C04;
    background: #FFFDF6;
}
{% endstyle %}

<script>
document.addEventListener("DOMContentLoaded", function() {
  document.querySelectorAll(".accordion-title").forEach(title => {
    title.addEventListener("click", function() {
      this.classList.toggle("active");
      let content = this.nextElementSibling;
      let wrapper = this.closest(".product-specifications");

      if (content.style.display === "block") {
        content.style.display = "none";
        wrapper.classList.remove("open-tab");
      } else {
        content.style.display = "block";
        wrapper.classList.add("open-tab");
      }
    });
  });
});
</script>
