{% assign who_wear = product.metafields.custom.who_wear_accordian.value %}

{% if who_wear != blank %}
  <div class="who-wear-accordion">

      <button class="accordion-toggle" aria-expanded="false">
        <span>
            <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none">
            <path d="M12 8.75C11.31 8.75 10.75 9.31 10.75 10V10.107C10.75 10.3059 10.671 10.4967 10.5303 10.6373C10.3897 10.778 10.1989 10.857 10 10.857C9.80109 10.857 9.61032 10.778 9.46967 10.6373C9.32902 10.4967 9.25 10.3059 9.25 10.107V10C9.25 9.27065 9.53973 8.57118 10.0555 8.05546C10.5712 7.53973 11.2707 7.25 12 7.25H12.116C12.654 7.25025 13.179 7.41522 13.6204 7.72272C14.0618 8.03023 14.3985 8.46553 14.5852 8.97008C14.7718 9.47463 14.7995 10.0242 14.6645 10.545C14.5295 11.0657 14.2383 11.5327 13.83 11.883L13.06 12.543C12.9634 12.6269 12.8858 12.7304 12.8323 12.8466C12.7789 12.9628 12.7508 13.0891 12.75 13.217V13.75C12.75 13.9489 12.671 14.1397 12.5303 14.2803C12.3897 14.421 12.1989 14.5 12 14.5C11.8011 14.5 11.6103 14.421 11.4697 14.2803C11.329 14.1397 11.25 13.9489 11.25 13.75V13.217C11.25 12.52 11.554 11.858 12.083 11.405L12.854 10.745C13.0299 10.5942 13.1554 10.3931 13.2136 10.1689C13.2718 9.9446 13.26 9.70787 13.1796 9.49056C13.0992 9.27325 12.9541 9.08578 12.764 8.95338C12.5738 8.82098 12.3477 8.75 12.116 8.75H12ZM12 17C12.2652 17 12.5196 16.8946 12.7071 16.7071C12.8946 16.5196 13 16.2652 13 16C13 15.7348 12.8946 15.4804 12.7071 15.2929C12.5196 15.1054 12.2652 15 12 15C11.7348 15 11.4804 15.1054 11.2929 15.2929C11.1054 15.4804 11 15.7348 11 16C11 16.2652 11.1054 16.5196 11.2929 16.7071C11.4804 16.8946 11.7348 17 12 17Z" fill="#585858"/>
            <path d="M3.25 12C3.25 9.67936 4.17187 7.45376 5.81282 5.81282C7.45376 4.17187 9.67936 3.25 12 3.25C14.3206 3.25 16.5462 4.17187 18.1872 5.81282C19.8281 7.45376 20.75 9.67936 20.75 12C20.75 14.3206 19.8281 16.5462 18.1872 18.1872C16.5462 19.8281 14.3206 20.75 12 20.75C9.67936 20.75 7.45376 19.8281 5.81282 18.1872C4.17187 16.5462 3.25 14.3206 3.25 12ZM12 4.75C11.0479 4.75 10.1052 4.93753 9.22554 5.30187C8.34593 5.66622 7.5467 6.20025 6.87348 6.87348C6.20025 7.5467 5.66622 8.34593 5.30187 9.22554C4.93753 10.1052 4.75 11.0479 4.75 12C4.75 12.9521 4.93753 13.8948 5.30187 14.7745C5.66622 15.6541 6.20025 16.4533 6.87348 17.1265C7.5467 17.7997 8.34593 18.3338 9.22554 18.6981C10.1052 19.0625 11.0479 19.25 12 19.25C13.9228 19.25 15.7669 18.4862 17.1265 17.1265C18.4862 15.7669 19.25 13.9228 19.25 12C19.25 10.0772 18.4862 8.23311 17.1265 6.87348C15.7669 5.51384 13.9228 4.75 12 4.75Z" fill="#585858"/>
          </svg>
        Why Wear {{product.title }}?
        </span>
        <span class="accordion-icon">
          <svg xmlns="http://www.w3.org/2000/svg" class="plus" width="16" height="16" viewBox="0 0 16 16" fill="none">
            <path d="M8 3.28577V12.7139M3.28596 7.99981H12.714" stroke="#585858" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round"/>
          </svg>
           <svg xmlns="http://www.w3.org/2000/svg" class="minus" width="16" height="16" viewBox="0 0 16 16" fill="none">
              <path d="M2 8H14" stroke="#E0AF23" stroke-width="2" stroke-linecap="round"/>
            </svg>
        </span>
      </button>

      <div class="accordion-content-div" hidden>
      
        <ul class="who-wear-list">
          {% for items in who_wear.list.value %}
            <li>{{ items }}</li>
          {% endfor %}
        </ul>
      </div>

  </div>

  <style>
    .who-wear-accordion svg.minus, .who-wear-accordion.open svg.plus  {
      display:none;
    }
    .who-wear-accordion.open svg.minus, .who-wear-accordion svg.plus  {
      display:block;
    }
    .who-wear-accordion button.accordion-toggle span:first-child svg {
    width: 25px;
    height: auto;
}
    button.accordion-toggle span {
    display: flex;
    gap: 5px;
    align-items: center;
}
    .who-wear-accordion {
    border-radius: 8px;
    border: 1px solid #DDD;
    margin: 12px 0;
    overflow: hidden;
}
 .who-wear-accordion.open{
      border-color: #F29C04;
      background: #FFFDF6;
 }
 .who-wear-accordion.open .accordion-toggle {
      background: #FFFDF6;
 }

    button.accordion-toggle svg{
        width: 16px;
        height: 16px;
    }
    button.accordion-toggle[aria-expanded="true"] path {
        stroke: #F29C04;
        fill: #F29C04;
    }
    .who-wear-accordion .accordion-toggle {
    font-size: 14px;
    font-family: 'Inter';
    width: 100%;
    text-align: left;
    border: none;
    font-weight: 600;
    color: #585858;
    padding: 12px 16px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 6px;
}
    .who-wear-accordion .accordion-icon {
      font-size: 1.2rem;
      transition: transform 0.3s ease;
    }
    {% comment %} .who-wear-accordion .accordion-toggle[aria-expanded="true"] .accordion-icon {
      transform: rotate(45deg);
    } {% endcomment %}
    button.accordion-toggle[aria-expanded="true"] {
    padding-bottom: 8px;
    color: #F29C04;

}
    ul.who-wear-list li {
      font-size: 12px;
      font-family: Inter;
    }

    .accordion-content-div {
      padding:0 16px 16px;
      border-top: none;
      border-radius: 0 0 6px 6px;
    }
    .who-wear-list li {
      margin: 6px 0;
      line-height: 1.5;
    }
    
    .accordion-title{
      line-height: 18px;
    }
    ul.who-wear-list li::before {
    content: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/charm_tick_3.svg?v=1758012727);
}
@media (max-width:749px){
.who-wear-accordion {
    border-radius: 8px;
    border: 1px solid #DDD;
    margin: 12px;
  }
}
  </style>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
      const toggles = document.querySelectorAll(".who-wear-accordion .accordion-toggle");
      toggles.forEach(toggle => {
        toggle.addEventListener("click", () => {
          const expanded = toggle.getAttribute("aria-expanded") === "true";
          toggle.setAttribute("aria-expanded", !expanded);
          const wrapper = toggle.closest(".who-wear-accordion");
          const content = toggle.nextElementSibling;
          if (expanded) {
             wrapper.classList.remove("open");
            content.hidden = true;
          } else {
             wrapper.classList.add("open");
            content.hidden = false;
          }
        });
      });
    });
  </script>
{% endif %}

