
  <div class="w-a-div">
    <h3>Why Astrotalk? </h3>
    <ul >
      <li>
        <div>
          <h4>Happy <br> Customers </h4>
          <img src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/happy_customer.png?v=1750853162" alt="image">
        </div>
        <div>
          <p>
            More than <span class="cont-bold">13L+ </span> users have trusted us.
          </p>
        </div>
      </li>
       <li>
        <div>
          <h4> 100% Original <br> & certified</h4>
          <img src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/lab_tested.png?v=1750853162" alt="image">
        </div>
        <div>
          <p>
           All products are certified for authenticity
          </p>
        </div>
      </li>
       <li>
        <div>
          <h4>7 Day <br> Return</h4>
          <img src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/easy_return_3.webp?v=1750918864" alt="image">
        </div>
        <div>
          <p>
           Quick and easy 7-day return process
          </p>
        </div>
      </li>
       <li>
        <div>
          <h4>Free <br> Shipping</h4>
          <img src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/free-shipping.webp?v=1750918957" alt="image">
        </div>
        <div>
          <p>
            Enjoy free delivery anywhere in India
          </p>
        </div>
      </li>
    </ul>
  </div>
  
<style>
.why-astro-block {
  display: flex;
  overflow: auto;
  scrollbar-width: none;
}

.w-a-div {
  
    display: flex;
    align-items: center;
    flex-wrap: nowrap;
    gap: 12px;
    padding: 20px 10px;
    background: #FFFAF0;
    border-radius: 10px;
  
}

.w-a-div ul li, .w-a-div li div {
    display: flex;
}

.w-a-div ul li {
    padding: 14px;
    flex-direction: column;
    border-width:  2px 2px 0 0;
    border-radius: 16px;
    width: 100%;
    gap: 8px;
}
  

.w-a-div h3 {
    font-size: 16px;
  position: relative;
}

.w-a-div ul {
    width: 100%;
    max-width: 100%;
    display: inline-flex;
    gap: 20px;
}

.w-a-div ul img {
    width: 100%;
     max-width: 38px;
    height: auto;
}

.w-a-div li div {
    justify-content: space-between;
      width: 186px;
}

.w-a-div ul h4 {
    font-size: 14px;
}
span.cont-bold {
    font-weight: 600;
    color: #7BB60C;
}
  .w-a-div h3::after {
    content: "";
    background: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/line.webp?v=1750919002);
    position: absolute;
    width: 100%;
    height: 76px;
    background-size: contain;
    background-position: center;
    top: 20px;
    background-repeat: no-repeat;
    left: 0;
}
.w-a-div ul li:first-child {
 border-color : #C3EEFF;
 background: linear-gradient(71deg, #FFF 53.13%, #E9FDFF 108.18%);
}
.w-a-div ul li:nth-child(2) {
border-color : #D7B0ED;
background: var(--purple, linear-gradient(75deg, #FFF 37.85%, #F9EEFF 108.49%));}
.w-a-div ul li:nth-child(3) {
border-color : #B7D384;
 background: var(--green, linear-gradient(67deg, #FFF 45.19%, #7BB60C 252.25%));}
.w-a-div ul li:last-child {
background: linear-gradient(69deg, #FFF 44.16%, #FF9773 164.1%);
border-color : #FFAF93;
}
</style>
<!-- <div class="zipcode-feat">
    <ul>
      <li>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/7_day_return.png?v=1750929386" alt="image">
        </div> 
        <div>
          <h4>7 days</h4>
          <p>easy return policy</p>
        </div>
      </li>
       <li>
        <div>
          <img src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/free_gift.png?v=1750929338" alt="image">
        </div> 
        <div>
          <h4>Free gift</h4>
          <p>Only on Prepaid orders</p>
        </div>
      </li>
    </ul>
  </div>
  <style>
  .zipcode-feat ul , .zipcode-feat ul div {
    display: flex;
}

.zipcode-feat ul li {
    display: flex;
    flex-direction: row;
    width: 100%;
    max-width: 50%;
    gap: 8px;
    align-items: center;
}

.zipcode-feat ul li div:last-child {
    flex-direction: column;
}

.zipcode-feat ul li div:first-child {
    width: 25px;
}

.zipcode-feat h4 {
    font-family: 'Avenir Next';
    font-size: 14px;
    font-weight: 600;
    line-height: 16px;
}

.zipcode-feat p {
    font-size: 12px !important;
    line-height: 16px;
}
  </style> -->