<h2 class="mob">Not sure which Rudraksha is right for you?</h2>
<div style="background:#FFF5E8;     border-radius:12px; display:flex;">
  <!-- Left Content -->
  <div class="r-content" style="flex:1;">
    <h2 class="desk">
      Not sure which Rudraksha is right for you?
    </h2>
    <p style="margin-bottom:20px;">
      <p><strong>Talk to our expert</strong> astrologers for 1:1 guidance.</p>
    </p>
          
          <strong>What you’ll get:</strong>
        <ul>  
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
            <path d="M11.4126 0.682739C13.7662 -0.0337211 16.2559 -0.188968 18.6802 0.229614C21.1046 0.64833 23.3975 1.62952 25.3746 3.09387C27.3517 4.55834 28.9588 6.46595 30.066 8.66321C31.1728 10.8598 31.7496 13.2856 31.7505 15.7452L31.7408 16.3312C31.6363 19.2531 30.7156 22.092 29.0796 24.5245C27.6402 26.6718 25.6938 28.4324 23.4126 29.6486C21.1314 30.8646 18.5847 31.499 15.9996 31.4972C13.4147 31.4989 10.8685 30.8645 8.58745 29.6486C6.30608 28.4324 4.35907 26.673 2.91948 24.5255V24.5245C1.54915 22.4814 0.676773 20.1453 0.371628 17.7042C0.0665544 15.2629 0.337128 12.7837 1.16264 10.4659C1.98825 8.14822 3.34574 6.05532 5.12553 4.35657C6.90532 2.65804 9.05912 1.39936 11.4126 0.682739ZM11.1665 21.7902C10.0391 21.7898 8.9409 22.1528 8.03667 22.8263C7.31972 23.3603 6.75531 24.067 6.39116 24.8751C7.3671 25.903 8.50498 26.7713 9.76421 27.4425C11.6831 28.4653 13.8251 28.9998 15.9996 28.9982H16.0005C18.175 28.9997 20.317 28.4653 22.2359 27.4425C23.4949 26.7713 24.6313 25.902 25.607 24.8741C24.7856 23.0556 22.9556 21.7904 20.8335 21.7902H11.1665ZM18.2544 2.69348C16.2148 2.34132 14.1202 2.47153 12.1402 3.07434C10.1602 3.67724 8.3484 4.73619 6.85112 6.16516C5.35389 7.59423 4.21268 9.35504 3.51811 11.3048C2.8236 13.2547 2.5954 15.3407 2.8521 17.3947C3.09261 19.3186 3.75154 21.1651 4.78178 22.8038C5.26699 22.0704 5.87812 21.4209 6.59233 20.8888C7.91397 19.9043 9.51853 19.3727 11.1665 19.3732H20.8335C22.4814 19.3728 24.0853 19.9044 25.4068 20.8888C26.1206 21.4206 26.7313 22.0699 27.2164 22.8029C28.5461 20.6936 29.2545 18.2479 29.2505 15.7491V15.7482C29.25 13.6784 28.7649 11.6366 27.8335 9.78821C26.9021 7.9397 25.5496 6.33468 23.8863 5.10266C22.223 3.87078 20.294 3.0457 18.2544 2.69348ZM18.0132 10.9142C18.0132 9.80252 17.1112 8.90051 15.9996 8.90051C14.8879 8.90052 13.986 9.80252 13.9859 10.9142C13.9859 12.0259 14.8879 12.9278 15.9996 12.9279C17.1113 12.9279 18.0132 12.0259 18.0132 10.9142ZM20.4302 10.9142C20.4302 12.0893 19.9632 13.2161 19.1324 14.047C18.3015 14.8779 17.1747 15.3448 15.9996 15.3448C14.8245 15.3448 13.6977 14.8779 12.8667 14.047C12.0359 13.2161 11.5689 12.0893 11.5689 10.9142C11.5689 9.73911 12.0359 8.61228 12.8667 7.78137C13.6977 6.95045 14.8245 6.48353 15.9996 6.48352C17.1746 6.48352 18.3015 6.95046 19.1324 7.78137C19.9633 8.61228 20.4302 9.73911 20.4302 10.9142Z" fill="#585858"/>
            </svg>
            <span>Personalized gemstone recommendation</span> 
          </li>
          <li>
            <svg xmlns="http://www.w3.org/2000/svg" width="32" height="32" viewBox="0 0 32 32" fill="none">
              <g clip-path="url(#clip0_606_4919)">
              <path d="M28 3.2H23.2V0.8C23.2 0.587827 23.1157 0.384344 22.9657 0.234315C22.8157 0.0842856 22.6122 0 22.4 0C22.1878 0 21.9843 0.0842856 21.8343 0.234315C21.6843 0.384344 21.6 0.587827 21.6 0.8V3.2H10.4V0.8C10.4 0.587827 10.3157 0.384344 10.1657 0.234315C10.0157 0.0842856 9.81217 0 9.6 0C9.38783 0 9.18434 0.0842856 9.03432 0.234315C8.88429 0.384344 8.8 0.587827 8.8 0.8V3.2H4C2.93952 3.20127 1.92285 3.62311 1.17298 4.37298C0.423106 5.12285 0.00127029 6.13952 0 7.2V28C0.00127029 29.0605 0.423106 30.0772 1.17298 30.827C1.92285 31.5769 2.93952 31.9987 4 32H28C29.0609 32 30.0783 31.5786 30.8284 30.8284C31.5786 30.0783 32 29.0609 32 28V7.2C32 6.13913 31.5786 5.12172 30.8284 4.37157C30.0783 3.62143 29.0609 3.2 28 3.2ZM30.4 28C30.4 28.6365 30.1471 29.247 29.6971 29.6971C29.247 30.1471 28.6365 30.4 28 30.4H4C3.36348 30.4 2.75303 30.1471 2.30294 29.6971C1.85286 29.247 1.6 28.6365 1.6 28V14.4H30.4V28ZM30.4 12.8H1.6V7.2C1.6 5.8752 2.672 4.8 4 4.8H8.8V7.2C8.8 7.41217 8.88429 7.61566 9.03432 7.76569C9.18434 7.91571 9.38783 8 9.6 8C9.81217 8 10.0157 7.91571 10.1657 7.76569C10.3157 7.61566 10.4 7.41217 10.4 7.2V4.8H21.6V7.2C21.6 7.41217 21.6843 7.61566 21.8343 7.76569C21.9843 7.91571 22.1878 8 22.4 8C22.6122 8 22.8157 7.91571 22.9657 7.76569C23.1157 7.61566 23.2 7.41217 23.2 7.2V4.8H28C28.6365 4.8 29.247 5.05286 29.6971 5.50294C30.1471 5.95303 30.4 6.56348 30.4 7.2V12.8Z" fill="#585858"/>
              </g>
              <defs>
              <clipPath id="clip0_606_4919">
              <rect width="32" height="32" fill="white"/>
              </clipPath>
              </defs>
            </svg>
            <span>Based on your birth chart & planet positions</span></li>
          <li><svg xmlns="http://www.w3.org/2000/svg" width="32" height="34" viewBox="0 0 32 34" fill="none">
              <path d="M20.2021 1.01562L23.3008 3.875L24.0967 4.60938L23.3008 5.34473L18.2129 10.04C19.1313 10.1822 20.0321 10.4318 20.8945 10.7891C22.3109 11.3758 23.5985 12.2363 24.6826 13.3203C25.7666 14.4044 26.6262 15.6921 27.2129 17.1084C27.7996 18.5248 28.1024 20.0431 28.1025 21.5762C28.1025 23.1093 27.7996 24.6284 27.2129 26.0449C26.6262 27.4613 25.7666 28.7489 24.6826 29.833C23.5985 30.9171 22.3109 31.7765 20.8945 32.3633C19.4779 32.9501 17.9591 33.2529 16.4258 33.2529C14.8926 33.2529 13.3745 32.95 11.958 32.3633C10.5416 31.7766 9.25405 30.9171 8.16992 29.833C7.08587 28.7489 6.2254 27.4613 5.63867 26.0449C5.05201 24.6284 4.75 23.1093 4.75 21.5762C4.7501 20.0432 5.05205 18.5247 5.63867 17.1084C6.22544 15.692 7.08581 14.4044 8.16992 13.3203C9.25409 12.2362 10.5415 11.3758 11.958 10.7891C12.8203 10.4319 13.7206 10.1813 14.6387 10.0391L9.55176 5.34473L8.75586 4.60938L9.55176 3.875L12.6504 1.01562L12.9375 0.75H19.915L20.2021 1.01562ZM16.4258 11.9004C15.1554 11.9004 13.8973 12.1507 12.7236 12.6367C11.5498 13.1229 10.4824 13.836 9.58398 14.7344C8.68559 15.6328 7.97259 16.7002 7.48633 17.874C7.00028 19.0476 6.7501 20.3059 6.75 21.5762C6.75 22.8467 7.00019 24.1055 7.48633 25.2793C7.97251 26.453 8.68571 27.5196 9.58398 28.418C10.4824 29.3164 11.5498 30.0294 12.7236 30.5156C13.8974 31.0018 15.1553 31.2529 16.4258 31.2529C17.6965 31.2529 18.955 31.0019 20.1289 30.5156C21.3027 30.0294 22.3692 29.3164 23.2676 28.418C24.1659 27.5195 24.879 26.4531 25.3652 25.2793C25.8514 24.1055 26.1025 22.8467 26.1025 21.5762C26.1024 20.3059 25.8513 19.0477 25.3652 17.874C24.879 16.7002 24.166 15.6328 23.2676 14.7344C22.3692 13.8361 21.3026 13.1229 20.1289 12.6367C18.955 12.1505 17.6964 11.9004 16.4258 11.9004ZM11.7051 4.60938L16.4258 8.9668L21.1475 4.60938L19.1338 2.75H13.7188L11.7051 4.60938Z" fill="#585858"/>
              </svg>
            <span>Tips to wear & care for your gemstone</span></li>
      </ul>

    <button 
      onclick="window.location.href='/pages/rudraksha-consultation';" 
      style="background:#3d3d3d; max-width: 320px; color:#fff;  border-radius:8px; cursor:pointer; font-size:16px; width:100%; border:none;">
      Book Now
    </button>
  </div>

  <!-- Right Side Image -->
  <div style="flex:0.6;">
    <img 
      src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/c29db0888063e0aec0ae05890daf96e12a3c2889_1.png?v=1763699961"

      {% comment %} src="https://cdn.shopify.com/s/files/1/0878/4907/4985/files/Untitled-7sad_1_1.png?v=1763699885" {% endcomment %}
      alt="Rudraksha Expert" 
      style="width:100%; border-radius:12px;">
  </div>

</div>
<style>
  
 
</style>
{% schema %}
{
 "name" :"Rudra redirection Form",
 "class": "r-form",
 "settings": [],
 "presets": [
    {
     "name": "Rudra redirection Form"
    }
 ]
}
{% endschema %}