.prod-badge, .mob-prod-cont, .mob-atc-card, .mob-saving, .mob-rating {
    display: none;
}
.prod-group {
    display: contents;
}

/* ----------------------Custom Product page--------------- */
p.customline_coloroption {
    display: inline-grid;
    max-width: fit-content;
    padding-right: 5px;
}
.temp-custom-product p#randomNumber {
    font-family: "Metropolis", sans-serif;
    background: #FFF3CC;
    color: #106B00;
    padding: 6px 0px;
    font-size: 12px;
    text-align: center;
    width: 100%;
}
.temp-custom-product .prod-badge {
    display: inline-flex;
    gap: 5px;
}
.temp-custom-product .sec-share p > span {
    display: none;
}

.temp-swirl-5 button[type="submit"].button.button-solid {
    background: #000;
    color: #fff;
    font-weight: 600;
    text-transform: uppercase;
}
div#x-product-recommendation-template--24101792153897__product-recommendations {
    margin-top: 12px;
}
/* .temp--product .custom_color-swatch_item {
    flex: 0 0 16%;
}
.temp-custom-product .custom_color-swatch_item {
    flex: 0 0 12%;
} */

.temp--product .custom_items_color_picker .custom_color-swatch {
    border-radius: 50%;
}
.temp-custom-product .product-form__input {
    margin: 0px 22px 10px;
}
.temp-custom-product .mob-atc-card, .temp-custom-product  .mob-atc-card .button--quickview  {
    display: inline-flex !important;
      align-self: center;
}
.temp-custom-product .prod-group {
    padding: 0 20px;
}
.temp-custom-product .prod-group .prod-badge .trust_badge-item {
    border-radius: 12px;
    background: #FFC965;
    width: fit-content;
    color: #000;
    font-family: "Metropolis", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    padding: 4px 8px;
}

@media (max-width: 765px) {
 .temp-custom-product .product-page > div > div {
    padding: 0 !important;
}
}

.temp-custom-product .mob-atc-card .button--quickview span{
  color: #FFF;
  font-family: "Metropolis", sans-serif;
font-size: 10px;
font-style: normal;
font-weight: 700;
line-height: 12px; /* 120% */
}
.temp-custom-product .mob-atc-card .button--quickview {
    background: #000;
    padding: 8px 22px;
}
.temp-custom-product  .prod-usp.feature-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 6px 20px 6px;
  width: 100%;
}
.temp-custom-product .prod-usp .icon-circle img {
    width: 100%;
    max-width: 40px;
}
.temp-custom-product  .prod-usp .feature-item {
    text-align: center;
    width: 100%;
   max-width: 25%;

}

.temp-custom-product  .prod-usp .icon-circle {
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
}

.temp-custom-product  .product-continuous_timer-main {
    border-radius: 4px;
    background: #FFF3CC;
    width: 100%;
    padding: 7px 20px;
    border-radius: 0;
    text-align: center;
  
}
.temp-custom-product #product-continuous_timer {
    color: #000;
    font-family: "Metropolis", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}

.temp-custom-product  .prod-usp .feature-item p {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
    color: #000;
    font-family: "Metropolis", sans-serif;
}
.temp-custom-product  .accordion {
    border-radius: 4px;
    border: 1px solid #E6E6E6 !important;
    margin: 6px 20px !important;
}


.temp-custom-product  .accordion button {
    padding: 12px 8px !important;
}
.temp-custom-product .accordion > div {
    border-top: 1px solid #E6E6E6;
    margin: 0 8px;
    padding: 0;
}
.temp-custom-product #product-continuous_timer::before {
    content: "🎉 SUPER DEALS ";
    color: #105B00;
}
.temp-custom-product #product-continuous_timer::after {
    content: " 🎉";

}
 .temp-custom-product .zipcode_bar_btn_1528 {
    background: #000 !important;
    color: #fff !important; 
 }
.temp-custom-product .main-product-price .pricing_wrapper_custom{
  display: flex;
  align-items: end;
  gap: 5px;
  padding: 12px 20px 8px;
}

 .temp-custom-product div#zippy_widget_1511 {
    background: none;
    padding: 5 20px;
}
 .temp-custom-product  span#delhivery {
    text-align: center;
    color: #000;
    font-family: Metropolis;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}
 .temp-custom-product  .zipcode_bar_title_1511 {
    justify-content: center;
}
.temp-custom-product .zipcode_bar_btn_1528 {
    background: #000 !important;
    color: #fff !important;
    padding: 8px 10px;
    height: auto;
    right: 5px;
    top: calc(50% - 14px);
    font-family: "Metropolis", sans-serif;
    font-size: 10px;
    font-style: normal;
    line-height: normal;
}
    
/* Responsive */
.temp-custom-product .accordion button p {
    color: #000;
    font-family: "Metropolis", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}

.temp-custom-product span.metafield-multi_line_text_field {
    color: #000;
    font-family: "Metropolis", sans-serif;
    font-size: 12px !important;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.temp-custom-product .main-product-price .pricing_wrapper_custom  .saving {
    border-radius: 12px;
    background: #348124;
    color: #fff !important;
    font-size: 11px !important;
    padding: 4px 9px 3px;
    font-family: "Metropolis", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px; /* 109.091% */
    }
     .temp-custom-product .section-product-recommendations .mob-saving .saving{
           color: #348124;
    font-family: " Metropolis", sans-serif;
    font-size: 8px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
     }
  
   .temp-custom-product  .main-product-price .pricing_wrapper_custom .comp_price{
      color: #9C9C9C;
     font-family: "Metropolis", sans-serif;
      font-size: 16px;
      font-style: normal;
      font-weight: 500;
      line-height: 18px; /* 112.5% */
    }
    .temp-custom-product .main-product-price  .pricing_wrapper_custom .price-sale {
    color: #000;
     font-family: "Metropolis", sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
    }
   .temp-custom-product .product-title {
         display: flex;
    align-items: center;
    gap: 8px;
     padding: 0 20px;
    color: #000;
    font-family: "Metropolis", sans-serif;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-bottom: 0;

}
.temp-custom-product .desc-text {
    padding: 4px 20px 0;
    margin: 0;
  
}
 .temp-custom-product .desc-text p , .temp-custom-product .desc-text p span {
    margin: 0;
    color: #000;
    /* font-family: Metropolis; */
    font-size: 12px !important;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
    /* 120% */
}
.mob-trust{
  display:none
}
.temp-custom-product .p-media {
    padding: 8px 20px;
}
.temp-custom-product .sec-share {
    padding: 0 20px;
}
.temp-custom-product .media-popup .med-content, .temp-custom-product  .desk-pop .med-content {
    background: #000;
    display: flex;
    color: #fff;
    padding: 8px 12px;
    border-radius: 10px 9px 0 0;
    justify-content: space-between;
}
.temp-custom-product .media-popup h4, .temp-custom-product .desk-pop h4{
    color: #fff;
    font-family: "Metropolis ", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}
.temp-custom-product .media-popup, .temp-custom-product .desk-pop {
    /* display: none; */
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
      background: #fff;
    width: 91%;
    position: fixed;
    bottom: 0%;
    z-index: 16;
    margin: auto;
    right: 4%;
    height: 14vh;
    left: 4%;
    border-radius: 10px 10px 0 0;
}
.temp-custom-product .media-popup ul.flex , .temp-custom-product .desk-pop ul.flex {
    justify-content: center !important;
      padding: 10px;

}
.temp-custom-product .sec-share > p {
    border-radius: 4px;
    border: 1px solid #525252;
    display: flex;
    padding: 0 3px;
    align-items: center;
    gap: 4px;
    color: #525252;
    font-family: "Metropolis", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 500;
    line-height: normal;
}
.temp-custom-product .block-price {
    display: inline-block;
    width: 66% !important;
    margin: 0;
}
.temp-custom-product.temp-new-product-page .block-price {
    width: 100% !important;
  display: flex;
}
.temp-custom-product .sec-share {
    display: inline-flex;
    justify-content: flex-end;
    width: 27% !important;
    margin: 0;
    padding: 12px 0px 8px;
}
.temp-custom-product .bene-div .features {
     width: 100%;
     display: flex;
     justify-content: center;
     text-align: center;
     gap: 15px;
 }
.temp-custom-product .bene-div {
         width: 100%;
         padding: 4px 20px 12px;
     }
.temp-custom-product .bene-div .icon {
     display: flex;
     justify-content: center;
     align-items: center;
     margin: 0 auto 5px;
 }
                      
.temp-custom-product .bene-div .icon img {
     width: 40px;
     height: 40px;
 }
.temp-custom-product .bene-div .text {
     color: #000;
     text-align: center;
     font-family: "Metropolis", sans-serif;
     font-size: 12px;
     font-style: normal;
     font-weight: 500;
     line-height: 14px;
 }
 .temp-custom-product .section-product-recommendations .mob-saving{
   display:block;
 }
.temp-custom-product .section-product-recommendations .card-info {
    padding: 8px;
}
.temp-custom-product .section-product-recommendations .card__heading {
    padding: 0px !important;
    text-align: left;
}

.temp-custom-product .section-product-recommendations .jdgm-prev-badge {
    text-align: left;
}
.temp-custom-product .section-product-recommendations  .card__heading a {
    color: #000;
    font-family: "Metropolis", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}
 .temp-custom-product .section-product-recommendations .pricing_wrapper_custom {
    text-align: left;
}
 .temp-custom-product .product-info .jdgm-preview-badge {padding: 2px 20px;}
 .temp-custom-product .section-product-recommendations  .jdgm-preview-badge {
    margin: 0;
}
.temp-custom-product .section-product-recommendations span.price-sale {
    color: #000 !important;
    font-family: "Metropolis", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 700;
    line-height: 18px;
}
.temp-custom-product .section-product-recommendations  small.comp_price {
    color: #9C9C9C;
    font-family: "Metropolis", sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 18px;
}
.temp-custom-product .section-product-recommendations .button-quickview-icon {
    display: none;
}
.temp-custom-product .variant-selects {
    padding: 0 20px;
}
.temp-custom-product span.close ,.temp-custom-product span.desk-close{
    padding: 0 5px;
    width: 25px;
    text-align: end;
}
.product-variant-option {
    text-align: center;
}
.product-variant-option span {
       color: #000;
    text-align: center;
    font-family: Metropolis, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight: 500;
    line-height: 14px;
}
.product-variant_name legend {
    color: #000;
    font-size: 12px;
    font-weight: 400;
    font-family: "Metropolis", sans-serif;
}
.input-radio + .color-watches {
    margin: 5px;
}
.prod-var {
    gap: 5px;
}
.temp-custom-product .desk-pop {
    top: 50%;
    bottom: auto;
    width: 30%;
    border-radius: 10px;
}
.temp-custom-product p.customline_coloroption {
    color: #000;
    text-align: center;
    font-family: Metropolis, sans-serif;
    font-size: 12px;
    font-style: normal;
    font-weight:600;
    line-height: 14px;
    margin-bottom: 2px !important;
}
   .temp-custom-product .mt-1.price-add {
    display: flex;
    justify-content: space-between;
}

.temp-custom-product .mob-atc-card {
    width: 100%;
    max-width: max-content;
}
.temp-custom-product .price {
    display: inline-block;
}
.temp-custom-product .section-product-recommendations .h2 {
        color: #000;
        font-family: Metropolis, sans-serif;
        font-size: 20px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        margin-bottom: 0;
    }
    .sec-share p img {
      display:none;
    }
    .temp-custom-product .sec-share p img {
    width: 100%;
    max-width: 16px;
    padding: 2px 0;
      display: block;
}
  .temp-custom-product h2.jdgm-rev-widg__title {
    font-family: "Metropolis", sans-serif;
    line-height: normal;
    margin-bottom: 7px;
}
.temp-custom-product .mini_cart_recommandation_item .price-sale {
    color: #000;
}
.custom_items_color_picker > span {
    display: inline-flex;
    gap: 5px;
}
.custom_items_color_picker>span > b {
    font-size: 12px;
}
@media only screen and (min-width:760px){
  .temp-custom-product .product-info{
    padding-left:0;
  }
  .faq-link , .blog-flink{
display: none;
}
  .temp-custom-product p#randomNumber{
  width: auto;
  }
  .temp-custom-product .product-continuous_timer-main, .ewck-vd-c,.temp-custom-product .button-product-buy_buttons, .temp-custom-product p#randomNumber{
    margin-left:20px;
    margin-right:20px;
    
  }
}
@media (max-width: 768px) {
  form#CartDrawer-Form {
    padding-bottom: 30px;
    height: 30vh;
    overflow: auto;
}
 .temp-custom-product  .prod-usp .feature-block {
    flex-wrap: wrap;
    gap: 10px;
  }
  .temp-custom-product .section-product-recommendations .splide__slide {
      width: calc(56% - 10px) !important;
      margin-right: 8px !important;
}
  .temp-custom-product .product-info .prod-group, .temp-custom-product .product-info .desc-text, .temp-custom-product .product-info .block-price, .temp-custom-product .product-info .sec-share {
    display: none;
}
  .temp-custom-product .mob-prod-cont{
    display:block;
    width: 100%;
  }
   .temp-custom-product  .button-product.forever_sticky_atc {
        max-width: 90% !important;
        margin: auto;
        bottom: 15px;
        border-top: none;
        background-color: transparent;
    }
   .temp-custom-product  .button-product.forever_sticky_atc > div:last-child {
        padding: 8px;
        /* border: 1px solid #e3e3e3; */
        /* border-radius: 0 0 12px 12px; */
        border-radius: 4px;
        background: #FFF;
        box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.20);
    }
      .temp-custom-product  .button-product.forever_sticky_atc .add_to_cart_button,.temp-custom-product  .button-product.forever_sticky_atc .select-size_btn {
        margin: 0;
        border-radius: 4px;
        background: #000;
        color: #fff;
    }
  .temp-custom-product  .price-sale {
    color: #fff;
}
  .temp-custom-product  .forever_sticky_atc > .sticky-textbar {
    border-radius: 8px;
    background: #2F9567 !important;
    margin-bottom: -8px;
    padding: 4px 4px 12px;
    z-index: -1;
    color: #FFF;
    font-family: "Metropolis", sans-serif;
    font-size: 11px;
    font-style: normal;
    font-weight: 500;
    line-height: 12px;
}
  .temp-custom-product .p-media {
    padding: 0px 20px;
}
 .temp-custom-product  .mob-rating {
   display: block;
    padding: 4px 6px;
    border-radius: 5px;
    background: #fff;
    position: absolute;
    z-index: 1;
    top: 12px;
    margin-left: 12px;
}
 .temp-custom-product  .mob-rating  span.jdgm-prev-badge__text {
    color: #000;
    font-family: "Metropolis", sans-serif;
    font-size: 10px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px
  }
 .temp-custom-product  .mob-atc-card .button--quickview {
    display: inline-flex;
}
     .temp-custom-product .section-product-recommendations .h2 {
    font-size: 14px;
}
  
  .temp-custom-product .section-product-recommendations span.jdgm-prev-badge__text {
    color: #A5A5A5;
    font-family: "Metropolis", sans-serif;
    font-size: 9px;
    font-style: normal;
    font-weight: 700;
    line-height: 12px;
}
  .temp-custom-product .product-info  .jdgm-preview-badge{
    display: none !important;
  }
  /* .temp-custom-product .custom_color-swatch_item {
    flex: 0 0 22%;
} */
  .temp-custom-product .mt-1.price-add {
    display: flex;
    justify-content: space-between;
}

}
@media (max-width: 749px) {
.temp-custom-product .prod-usp .feature-item {
    max-width: calc(25% - 16px);
}
.faq-link , .blog-flink{
  display: block;
}
div#mbcBundleItemsWidget {
    display: none;
}
/* .pro-9437338009897 div#mbcBundleItemsWidget{
  display: block;
} */

#infiniteoptions-container {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 0.5rem;
  background-color: #fff;
  border-radius: 1rem;
  /* box-shadow: 0 4px 12px rgba(0, 0, 0, 0.05); */
  max-width: 100%;
  width: 100%;
  box-sizing: border-box;
}

#infiniteoptions-container .custom-input,
#infiniteoptions-container > div {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  width: 100%;
}

.spb-label-tooltip label {
  font-size: 1rem;
  font-weight: 600;
  color: #333;
}

#infiniteoptions-container input[type="text"] {
  padding: 0.75rem 1rem;
  border: 1px solid #ccc;
  border-radius: 0.75rem;
  font-size: 1rem;
  background-color: #fff;
  color: #333;
  width: 100%;
  box-sizing: border-box;
  transition: border 0.3s ease, box-shadow 0.3s ease;
}

#infiniteoptions-container input[type="text"]:focus {
  outline: none;
  border-color: #9155fd;
  box-shadow: 0 0 0 3px rgba(145, 85, 253, 0.2);
}

/* Responsive adjustments */
@media (max-width: 768px) {
  #infiniteoptions-container {
    padding: 0rem;
    border-radius: 0.75rem;
  }

  .spb-label-tooltip label {
    font-size: 0.95rem;
  }

  #infiniteoptions-container input[type="text"] {
    font-size: 0.95rem;
    padding: 0.65rem 0.9rem;
  }
}


#infiniteoptions-container input[type="text"]:focus {
  outline: none;
  border-color: #9155fd;
  box-shadow: 0 0 0 3px rgba(145, 85, 253, 0.2);
}
#shopify-block-Ac04rN05xUnVOWGkrN__infinite_options_app_block_d4Gc7L{
  width:100%
}
/* .pro-9650077565225 .button-product.forever_sticky_atc .add_to_cart_button{
  display: none;
} */
/* .pro-9650077565225  .relative.form-buy-it-now {
    width: 100%;
    max-width: 100%;
} */
.product-card__title {
    font-size: 14px;
}
/*-----------NEW PRODUCT PAGE----------------  */

.temp-new-product-page .product-title {
    flex-direction: column;
    align-items: flex-start;
    margin-bottom: 6px;
}
.temp-new-product-page .trust_badge-item::before {
    content: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/generated-svg-image.svg?v=1745393506);
}
.temp-new-product-page .prod-group .prod-badge .trust_badge-item {
    display: flex;
    gap: 5px;
    align-items: center;
    border-radius: 50px;
    padding: 4px 8px;
    font-size: 14px !important;
}
  .temp-new-product-page span.metafield-multi_line_text_field {
    font-size: 14px !important;
}
.temp-new-product-page .prod-group .product-title {
    gap: 8px;
  font-size: 24px !important; 
    margin-bottom: 18px;
}
.temp-new-product-page .mob-prod-cont .desc-text,.temp-new-product-page .mob-prod-cont .sec-share,.temp-new-product-page .mob-prod-cont .block-price{
    display:none;
}
.temp-new-product-page  .product-info  .block-price{
  display: inline-block;
  
}
.temp-new-product-page span.tax-text {
    font-weight: 400;
    color: rgb(128, 128, 128);
    font-size: 10px;
}
.temp-new-product-page .main-product-price .pricing_wrapper_custom {
    padding: 0 10px 10px;
}
.temp-new-product-page .npp-price .price-sale {
    font-size: 24px !important;
}
.temp-new-product-page .npp-price > div {
    display: flex;
    gap: 7px;
    align-items: end;
}
.temp-new-product-page .block-price {
    display: inline-block;
    width: 100% !important;
    margin: 0;
    padding: 0 13px 5px;
}
.temp-new-product-page .npp-price {
    display: grid;
    gap: 3px;
}
.temp-new-product-page .main-product-price .pricing_wrapper_custom .comp_price {
    font-size: 14px !important;
    font-weight: 700;
}
.temp-new-product-page .main-product-price .pricing_wrapper_custom .saving {
    background: #2F9567;
}
.rand-num.mobile {
    padding: 4px 20px 10px;
    font-size: 12px !important;
    font-weight: 700;
    line-height: 150%;
    color: black;
}
.temp-new-product-page .prod-group .prod-badge .trust_badge-item:nth-child(2) {
    background: #e9bdff;
}
.temp-new-product-page .prod-usp.feature-block {
    background: #dbffe4;
  padding: 20px 20px;
}
    .temp-new-product-page .prod-usp .feature-item:last-child{
      display: none;
      
    }
    .temp-new-product-page  .prod-usp .feature-item p {
       font-size: 12px !important;
    text-align: left;
    font-weight: 600;
    }
.temp-new-product-page   .feature-item {
    display: flex;
    gap: 10px;
}
.temp-new-product-page .prod-usp .feature-item:nth-child(3) {
    padding-right: 0;
    border-right: none;
}

.temp-new-product-page .prod-usp .feature-item {
    max-width: 33.3%;
    padding: 0 20px;
    border-right: 1px solid #e7e7e7;
}

.temp-new-product-page .prod-usp .icon-circle {
    align-self: center;
  margin: 0;
}
.temp-new-product-page #product-continuous_timer:before{
  content: "\1f389  OFFER ";
  color: #a2000b;
}
.temp-new-product-page .add_to_cart_button.button.button-solid {
    padding: 12px 0;
  border-radius: 6px;
}
.rand-sold-out {
    font-size: 14px;
}
.temp-new-product-page .forever_sticky_atc>.sticky-textbar {
        padding: 7px 4px 15px;
        font-size: 12px;
        font-weight: 600;
    }


.temp-new-product-page .product-title span.jdgm-prev-badge__stars {
    line-height: normal;
}

.temp-new-product-page .product-title  span.jdgm-star.jdgm--on::before {
    font-size: smaller;
    
}
.temp-new-product-page .p-media .mob-rating {
  display: none;
}
  .temp-new-product-page a.pro-rate .jdgm-prev-badge__text {
    display: block;
    font-size: 14px;
    line-height: unset;
    align-items: baseline;
    gap: 5px;
    padding: 0 5px;
    border: solid #000;
    border-width: 0 2px;
}
.temp-new-product-page a.pro-rate > .jdgm-preview-badge > .jdgm-prev-badge {
    display: flex !important;
    gap: 7px;
}
.temp-new-product-page a.pro-rate >  .jdgm-preview-badge {font-size: 14px; display: flex;align-items: baseline;gap: 5px;}
}
.temp-new-product-page .jdgm-rev-snippet-card , .jdgm-rev-snippet-card{
    margin: 3px 20px 20px !important;
}
  #jdgm-review-snippet-wrapper{
    display: none;
  }
   /* .pro-9650077565225 #jdgm-review-snippet-wrapper{
    display: block;
  } */

 .temp-whiff-6-gemstone .specs-item {
    border-color: #9c25342b;
    padding: 0 12px;
}
.temp-whiff-6-gemstone .specs-list .specs-item:nth-child(2n + 1) {
    background: #fffaf5;
    border-color: #9c25342b;
}
.pro--gemstone .custom_items_color_picker{
 display: none !important;
}
.add_to_cart_button {
    background: #000 !important;
    color: #fff !important;
}
.temp-faq h1.p-break-words {
    font-size: 18px;
}
.faq-link {
  border-bottom : 1px solid rgba(var(--colors-line-and-border),1);
}
.faq-link , .blog-flink{
    padding: 15px 0;
}
.temp--product .blog-flink {
    padding: 15px 0;
    padding-bottom: 60px !important;
}
article h2 strong {
    font-size: 18px;
}



article  strong {
    font-size: 16px;
}

article strong {
    font-weight: 600;
}

article h4 strong {
    font-size: 14px;
}
.temp-defualt-product-old .specs-list{
    border: 1px solid #9c25342b;
}

.temp-defualt-product-old .specs-list .grid {
    padding: 8px;
}



.temp-defualt-product-old .specification-list li {
    display: flex;
    align-items: baseline;
    max-width: calc(50% - 20px);
    font-size: 14px;
    text-align: left;
    background: #faecde;
    padding: 10px 12px;
    border-radius: 12px;
}
.temp-defualt-product-old .specs-item{
    border-color:#9c25342b;
  }
 .temp-defualt-product-old  .product-form__input.custom_items_color_picker {
    display: none;
}
  .temp-defualt-product-old .specs-list {
    background: #faecde;
}
.theme-template-blog h1 {
    font-weight: 500;
    font-size: 22px;
}
/* .temp-new-product-page .parent-element  img.w-full {
    background: #eaffe5;
    padding: 0px 20px;
      height: 110px;
} */
.temp-custom-product .bene-div{
  padding: 0;
}
.card-product .card__heading {
    padding: 0 0 5px;
    font-size: 14px !important;
}
.card-product .pricing_wrapper_custom {
    display: flex;
    justify-content: center;
    gap: 5px;
    align-items: center;
}
.temp-new-product-page span.metafield-multi_line_text_field {
    font-size: 14px !important;
}
.theme-template-suffix-whiff-blog .article-card {
    padding: 0;
    border-radius: 16px;
}
.theme-template-suffix-whiff-blog .grow.content-article-1 {
    border-radius: 10px;
}
.temp-new-product-page p.customline_coloroption, .temp-custom-product p.customline_coloroption + span {
    margin: 8px 0;
}
.temp-new-product-page .forever_sticky_atc>.sticky-textbar{
  background : #008000 !important;
}
.temp-new-product-page .description {
    padding: 0 20px;
    color: #000;
    font-family: Metropolis, sans-serif;
    font-style: normal;
    font-weight: 400;
    line-height: 20px;
}
.temp--product .ewck-bogo-t {
    font-family: 'Avenir Next' !important;
}
.temp--product p.delivery-date-msg {
    padding: 4px 0 7px;
}
.temp--product .pincode-serviceability-list li {
    margin-bottom: 5px !important;
}
.temp--product .pincode-serviceabilityIcon {
    width: 30px;
    height: 30px;
}
.temp--product .pincode-serviceability-list li h4 {
    font-size: 14px;
}
.temp-siddhi-landing-page .collection-grid-simple {
    padding-bottom: 40px !important; 
}
.temp-siddhi-landing-page button.product-card__add-to-cart {
    background: #000 !important;
    color: #fff;
 }
.temp-siddhi-landing-page .collection-grid-simple  .product-card{
    padding: 6px 5px !important;
 }
 .temp-swirl-5 small.comp_price {
    font-weight: 600;
    font-size: 12px;
}
.temp-swirl-5 span.price-sale {
    font-size: 16px;
    font-weight: 600;
}
.temp-swirl-5 .card-product .pricing_wrapper_custom {
    padding: 0 0 5px;
}
.temp-swirl-5 .card-product .card__heading {
    font-family: "Metropolis", sans-serif;
 }
 .theme-template-suffix-reet-landing-page {
    background: linear-gradient(180deg, #FFF7E2 78.32%, #FFF 95.78%);
}
.temp-rudraksha-landing-page .collection-grid-simple span.product-card__sold-out {
    color: #d46a42;
    background: #fff;
    border: 1px solid #d46a42;
    border-radius: 50px;
    padding: 1px 20px;
    width: 100%;
    opacity: .6;
    text-transform: uppercase;
    font-size: 12px;
    font-weight: 700;
    font-family: sans-serif;
}
.pro-9708299878707 .ewck-bogo-w {
    display: none;
}
@media only screen and (max-width:749px){
  .temp-defualt-product-old .specs-item  {
    border: 1px solid #9c25342b;
}
 
  .consultation-info {
    flex: 1;
    min-width: 300px;
    padding: 0px 0px;
}
  .temp-defualt-product-old .specs-list {
    background: transparent;
}
  .temp-defualt-product-old .specs-item:nth-child(2n + 1) .grid {
    background-color: #faecde !important;
}
 .temp-defualt-product-old  .prod-var {
    flex-wrap: wrap !important;
    gap: 0;
}

.temp-defualt-product-old  .product-variant-option label {
    padding: 8px;
}
}

/* -----------------reeet------------------ */
.arched-heading {font-size: 40px;
  }
  .reet-text-icons {
    background-size: cover;
    padding: 50px 0;
    margin-top: 50px;
}
    .reet-text-icons .feature-item {
        padding: 0 !important;
    }
.reet-blogs h2::before, .reet-blogs h2::after , .arched-heading::before, .testmonials-reet h2::before, .testmonials-reet h2::after,   .arched-heading::after, .temp-reet-landing-page  .faq-wrapper h2::before, .temp-reet-landing-page  .faq-wrapper h2::after  ,.reet-bestseller  h2.collection-grid-simple__title::after, .reet-bestseller  h2.collection-grid-simple__title::before {
    content: '||';
    margin: 0 1rem;
    color: #000;
    font-size: larger;
}
.temp-reet-landing-page  .faq-item  ,.temp-rudraksha-recommender .faq-item , .temp-gemstone-calculator .faq-item{
    border-radius: 5px;
    border: 0;
    background: #FFF;
    box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.10);
    margin-bottom: 15px;
}
.temp-reet-landing-page .faq-collapsible p , .temp-rudraksha-recommender .faq-collapsible p , .temp-gemstone-calculator .faq-collapsible p {
    color: #000;
    font-family: "Libre Baskerville";
    font-size: 16px;
    font-style: normal;
    line-height: normal;
}
.temp-rudraksha-recommender .faq-collapsible p , .temp-gemstone-calculator .faq-collapsible p{
  font-size: 16px;
  line-height: 18px;
}
.temp-reet-landing-page .faq-content p , .temp-rudraksha-recommender   .faq-content p , .temp-gemstone-calculator .faq-content p{
    font-size: 16px;
    margin: 4px 0px;
    line-height: 18px;
}
.reet-blogs {
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/for_web.png?v=1749039864);
    background-position-x: right;
    background-position-y: top;
    background-size: 100%;
    background-repeat: no-repeat;
    padding: 150px 0 50px;
}
 .reet-blogs .bcard-content-div + div > a {
    color: #E13C4A;
    border-color: #E12C4A;
    font-family: sans-serif;
}
.reet-blogs .grow.content-article-1 > div{
  gap:0px;
}
.testmonials-reet .scale-item {
    background: transparent;
}
.testmonials-reet .a_city p {
    color: rgba(225, 44, 74, 1) !Important;
}

.testmonials-reet .paginate-testimonial.is-active {
    background: #E12C4A;
}

.testmonials-reet .paginate-testimonial {
    background: rgba(225, 44, 74, 0.50);
}
.temp-new-product-page .accordion {
    width: 90%;
    margin: 13px auto !important;
}
 .reet-text-icons .feature-item:not(:first-child){
    border-left: 1px solid #ffffff33  !important;
}
.temp-new-product-page .main-product-price .pricing_wrapper_custom {
    display: flex;
    align-items: end;
    gap: 5px;
    padding: 12px 20px 20px;
}
@media only screen and (max-width:749px){
  .testmonials-div .scale-item > div > div > p {
    font-size: 16px;
    }
  .reet-blogs {
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/for_mobile.png?v=1749039863);
  }
.temp-reet-landing-page .faq-container .accordion-icon , .temp-rudraksha-recommender .faq-container .accordion-icon, .temp-rudraksha-recommender .faq-container .accordion-icon{
    width: 12px;
    min-width: 12px;
}
  .arched-heading, .testmonials-reet h2, .reet-bestseller  h2.collection-grid-simple__title  , .temp-reet-landing-page  .faq-wrapper, .reet-blogs h2{
    font-size: 20px !important;
  }
  .testmonials-div {
    padding: 50px 0 40px;
}
  .reet-text-icons .feature-item {
        padding: 0 !important;
    }
  .reet-text-icons {
        background-size: cover !important;
    }
  .section-featured-blog > div.reet-blogs {
        padding: 70px 0px 40px;
    }
  .temp-new-product-page .final-stickybar  small.comp_price s {
    font-size: 14px;
}

.temp-new-product-page .final-stickybar small.comp_price {
    text-decoration: none !important;
    padding: 0 4px !important;
}

.temp-new-product-page .final-stickybar__discount {
    font-size: 15px !important;
}
  .testmonials-reet .a_name {
    font-size: 14px !important;
}

.testmonials-reet .scale-item > div > div > p {
    font-size: 14px !important;
  line-height: 20px !important;
}
  .testmonials-div {
    padding: 50px 0 40px !important;
}
 .temp--index .image-with-text .text-truncate.rte,.temp--index .image-with-text button.button-link,.temp--index .image-with-text .button-text {
    font-size: 14px;
}
  .reet-text-icons .feature-item:nth-child(3) {
    border: 0 !important;
}
  .reet-bestseller4 h2.collection-grid-simple__title {
    margin-top: 16px;
    margin-bottom: 10px;
}
}




/* Recommender styyle */
:root {
  --recom-heading-fsize: 40px;
  --recom-heading-lheight: 42px;
  --recom-heading-fweight: 500;
  --recom-heading-ffamily: "Libre Baskerville", serif;
   --recom-subheading-fsize: 14px;
}
 .recommender-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 25px; 
    color: #fff;
}
.recommender-content h2 {
    color: #fff;
    font-size : var(--recom-heading-fsize);
    line-height: var(--recom-heading-lheight);
    font-family : var(--recom-heading-ffamily);
}
.recommender-forms .cont-form-div {
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/shiv_bg_web_1.webp?v=1749548564);
        background-image: url(/cdn/shop/files/shiv_bg_web_1.webp?v=1749548564);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: right;
      padding: 40px;
}
.rudra-img-text .image-with-text {
    flex-direction: column-reverse;
      background: none;
}
.rudra-img-text .rte p {font-size: 14px;line-height: 18px;}
.rudra-img-text .image-with-text > div:not(:first-child),.rudra-img-text .image-with-text .iwt-content {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.rudra-img-text h2, .rudra-img-text .rte {
    color: #fff;
}
.rudra-img-text {
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/website.png?v=1749625576);
   background-size: cover;
    background-repeat: no-repeat;
}
.rudra-img-text h2 {
    text-align: center;
    margin-bottom: 20px;
}
.rudra-img-text .image-with-text .iwt-content {padding: 40px 40px 0;}
.rudra-img-text .iwt-image {margin: 0 auto 40px;     transform: rotate(-5.053deg);}
.temp-rudraksha-recommender .section-rich-text h2,.temp-rudraksha-recommender .section-image-with-text h2 , .temp-gemstone-calculator .section-rich-text h1,  .temp-gemstone-calculator .section-rich-text h2, .temp-gemstone-calculator .section-image-with-text h2{
    text-align: center;
}
.temp-rudraksha-recommender .section-rich-text > div , .temp-gemstone-calculator .section-rich-text > div{
    max-width: 1200px;
    margin: auto;
}
.temp-rudraksha-recommender .section-image-with-text h2 {
    margin-bottom: 20px;
}
.temp-rudraksha-recommender .section-rich-text p, .temp-rudraksha-recommender .section-image-with-text p , .temp-gemstone-calculator .section-rich-text p, .temp-gemstone-calculator .section-image-with-text p 
 {
    font-size: 16px;
    line-height: 20px;
       text-align: justify;
}
.temp-gemstone-calculator  .recomender-icons {
    background: #FFF9F1;
    color: #000;
}
.temp-gemstone-calculator .recomender-icons h2.section-title, .temp-gemstone-calculator .recomender-icons .feature-text{
  color: #000 !important; 
}
.rudra-img-text .iwt-image img {
    object-fit: contain;
}
section#shopify-section-template--24295693713705__rich_text_kNk6wV {
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/Slice_4.png?v=1749707545);
    background-repeat: no-repeat;
    background-size: cover;
}
.rudra-img-text .rte a {
    color: #fff;
    text-decoration: underline;
    text-underline-position: from-font;
    font-weight: 700;
}
.temp-gemstone-calculator .recomender-icons .feature-icon {
    border: 0;
    background: transparent;
}
.temp-gemstone-calculator .recomender-icons .feature-icon img {
    padding: 0 20px;
}
.temp-gemstone-calculator .feature-item:not(:first-child) {
    border-left: 1px solid #8B0000;
}
.temp-gemstone-calculator .image-position-right .iwt-content, .temp-rudraksha-recommender .image-position-right .iwt-content{
    padding-right: 45px;
  padding-left: 20px;
}
.temp-gemstone-calculator .image-position-left .iwt-content, .temp-rudraksha-recommender .image-position-left .iwt-content{
    padding-left: 45px;
    padding-right: 20px;
  
}
.temp-gemstone-calculator .recomender-icons .feature-item {
    width: calc(25% - 20px);
}
.temp-gemstone-calculator .section-rich-text .page-width {
    width: 100%;
    max-width: 100%;
}
.temp-gemstone-calculator .section-rich-text .page-width > div {
    max-width: 1200px;
    margin: auto;
}
.temp-gemstone-calculator .rudraksha-card img{
  border:0 ;
}
.temp-gemstone-calculator .rudraksha-slider-section button.prev-btn,.temp-gemstone-calculator  .rudraksha-slider-section .next-btn
 {
    background: #61020D;
 }
.temp-gemstone-calculator  .section-rich-text
 {
    overflow: hidden;
 }
 .gem_calc_effect::before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/gemstone1.png?v=1750052809);
    background-size: contain;
    width: fit-content;
    padding: 100px;
    background-repeat: no-repeat;
    font-size: larger;
    transform: rotate(15deg);
    position: absolute;
    top: -22px;
    left: 0;
}
.gem_calc_effect::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/emerald_9cec8abb-229c-4ccf-a82f-6d50be2f8d17.webp?v=1750061381);
    background-size: contain;
    max-width: fit-content;
    background-repeat: no-repeat;
    font-size: larger;
    transform: rotate(-9deg);
    position: absolute;
    top: -59px;
    right: -249px;
    width: 400px;
    height: 300px;
    aspect-ratio: 400 / 300;
}
.what_gems::before {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/ChatGPT_Image_Jun_12_2025_03_15_31_PM.png?v=1750061343);
    background-size: contain;
    width: fit-content;
    background-repeat: no-repeat;
    font-size: larger;
    position: absolute;
    top: -25px;
    right: -87px;
    width: 242px;
    height: 242px;
    transform: rotate(333deg);
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
}
.what_gems::after {
    content: "";
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/ChatGPT_Image_Jun_12_2025_03_00_46_PM.png?v=1750061343);
    background-size: contain;
    width: fit-content;
    background-repeat: no-repeat;
    font-size: larger;
    position: absolute;
    bottom: 67px;
    left: -112px;
    width: 242px;
    height: 242px;
    transform: rotate(353deg);
    flex-shrink: 0;
    aspect-ratio: 1 / 1;
}
#gemstone-recommendation {
    background: var(--bg-lighter);
    padding: 0;
}
@media screen and (max-width:749px){
  :root {
  --recom-heading-fsize: 20px;
  --recom-body-fsize: 12px;
  --recom-subheading-fsize: 14px;
  --recom-heading-lheight: 24px;
  --recom-heading-fweight: 500;
  --recom-heading-ffamily: "Libre Baskerville", serif;
  --recom-body-ffamily: "Avenir Next", sans-serif";
  
}
  .what_gems::before {
    content: "";
    background-image: url(/cdn/shop/files/ChatGPT_Image_Jun_12_2025_03_15_31_PM.png?v=1750061343);
    top: 0;
    right: -36px;
    width: 120px;
    height: 120px;
    transform: rotate(333deg);
}
.what_gems::after {
    content: "";
    background-image: url(/cdn/shop/files/ChatGPT_Image_Jun_12_2025_03_00_46_PM.png?v=1750061343);
    top: -12px;
    left: -34px;
    width: 120px;
    height: 120px;
    transform: rotate(364deg);
}
  .gem_calc_effect::after {
        content: "";
        transform: rotate(355deg);
        top: 8px;
        right: -69px;
        width: 138px;
        height: 138px;
        aspect-ratio: 1 / 1;
    }
         .gem_calc_effect::before {
        content: "";
        transform: rotate(15deg);
        top: -30px;
        left: 0;
        width: 100px;
        padding: 0;
        height: 100px;
        aspect-ratio: 1 / 1;
    }
  .temp-rudraksha-recommender .section-rich-text p, .temp-gemstone-calculator .section-rich-text p, .temp-rudraksha-recommender .section-image-with-text p, .temp-gemstone-calculator .section-image-with-text p {
    font-size: 16px;
    line-height: 20px;
    text-align: justify;
}
  .rudra-img-text .image-with-text .iwt-content {
    padding: 40px 0px 0;
}
  .rudra-img-text {
    background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/mobile.png?v=1749625576);
    background-size: cover;
    background-position: bottom;
}
.recomender-icons .feature-item {
        width: calc(50% - 10px);
    }
 .recommender-forms .cont-form-div {
   background-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/shiv_bg_mobile.webp?v=1749548565);
         background-position: top;
   height:790px;
 }

  .recomender-icons h2.section-title {
        font-size: var(--recom-heading-fsize) !important;
    }
.recommender-forms .cont-form-div {
    padding: 40px 20px;
}
  
.rudra-img-text .iwt-image img {
    object-fit: contain;
}
.temp-gemstone-calculator .image-position-left .iwt-content, .temp-rudraksha-recommender .image-position-left .iwt-content,  .temp-gemstone-calculator .image-position-right .iwt-content, .temp-rudraksha-recommender .image-position-right .iwt-content {
    padding-right: 20px;
    padding-left: 20px;
}
  .temp-gemstone-calculator .recomender-icons .feature-item {
    width: calc(50% - 20px);
}
  .temp-gemstone-calculator .feature-item:nth-child(3){
    border-left: none;
  }
  .temp-rudraksha-recommender .rudra-img-text .iwt-content {
    padding: 0;
}
  .temp-rudraksha-recommender .testmonials-div .scale-item > div > div > p {
    color: #000;
    text-align: center;
    font-family: Lato;
    font-size: 16px;
    font-style: italic;
    font-weight: 300;
    line-height: 20px;
    letter-spacing: 1px;
  }
}
@media screen and (max-width: 450px){
  .recommender-forms .cont-form-div{
            height: 800px;
  }
      .rk-card {
        padding: 240px 0 40px;
      }
}
@media screen and (max-width: 480px){
  .recomender-icons .feature-item {
        width: calc(50% - 10px);
    }
}
@media screen and (min-width: 749px){.cont-form-div {
    min-height: 650px;
}
}