:root {
  --rudra-heading-family: Inter, sans-serif;
  --rudra-hfont: 32px;
  --rudra-lheight: normal;
  --rudra-subfont: 16px;
  --rudra-smallfont: 14px;
  --rudra-bold:  bold;
  --rudra-primary: #292526;
  --rudra-bg-outer: #f6f6f6;  
  --rudra-bg-light: #FFF5E8;
  --rudra-bg-lighter: #FFFDF6;
  --text-dark: #1F2937;
  --text-light: #4B5563;
  --rudra-dark-brclr: #F29C04;
  --rudra-light-brclr: #DDDDDD;
  --cta-bg: #3D3D3D;
  --green-badge: #4E9341;
  --max-width:1200px;
  --r-margin: 0px auto;
  --r-padding: 12px 0;
  --rudra-border-radius: 10px;
}
.new-rudra-temp  *,.new-rudra-temp  .whatsapp-box .info, .new-rudra-temp  h2 , .new-rudra-temp h3 , .new-rudra-temp p,  .new-rudra-temp li{ 
    font-family: var(--rudra-heading-family);
  }
  .new-rudra-temp h2{
    font-size: var(--rudra-hfont);
    line-height: var(--rudra-lheight);
    font-weight: var(--rudra-bold);
    color: var(--rudra-primary);
  }
 .new-rudra-temp  section, .new-rudra-temp  .faq-container, .new-rudra-temp .product-recommendations {
    margin: var(--r-margin);
    padding: var(--r-padding);
 }
 .new-rudra-temp .high-rudraksha, .new-rudra-temp .aplus-section, .new-rudra-temp .low-rudraksha, .new-rudra-temp  section {
    background-color: var(--rudra-bg-outer);
}
.new-rudra-temp  .faq-container {
    max-width: var(--max-width);
    background: #fff;
    padding: 24px 12px;
    border-radius: var(--rudra-border-radius);
}
.new-rudra-temp  .faq-content .rte {
    margin: 0;
    padding-top: 0;
}
.new-rudra-temp  .faq-content ul li {
    list-style-image: url(https://cdn.shopify.com/s/files/1/0878/4907/4985/files/uil_arrow.svg?v=1758537478);
  }
.r-form h2{
    color: #111;
    font-size: 32px;
    font-style: normal;
    font-weight: 600;
    line-height: 36px;
    margin-bottom: 25px;
  }
.r-content ul li {
    display: flex;
    gap: 10px;
    color: var(--rudra-primary);
    font-size: 14px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}
.r-content ul {
    padding: 16px 0 32px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.20);
    margin-bottom: 32px;
    display: flex;
    gap: 8px;
}
.r-content svg {
    width: 100%;
    max-width: 24px;
    max-height: 24px;
}
  /* Faq */
  .new-rudra-temp .faq-item {
    border-radius: 8px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    margin: 10px 0;
}
.new-rudra-temp  .faq-item > div {
    padding: 12px 15px;
}
.new-rudra-temp .faq-item.border-\[rgba\(var\(--colors-heading\)\)\] {
    border-radius: 8px;
    border: 1px solid #F29C04;
    background: #FFFDF6;
}
.new-rudra-temp .faq-item.border-\[rgba\(var\(--colors-heading\)\)\] .faq-collapsible p {
  font-weight: var(--rudra-bold);
  line-height: var(--rudra-lheight);
}
.new-rudra-temp .faq-item.border-\[rgba\(var\(--colors-heading\)\)\] .faq-collapsible p {
    color: #F29C04;
    font-size: var(--rudra-smallfont) !important;
}
.new-rudra-temp  .r-content > strong {
    color: #292526;
    font-size: 16px;
    font-style: normal;
    font-weight: 600;
    line-height: 24px;
}
.new-rudra-temp  .r-content > p ,.new-rudra-temp  .r-content > p >strong{
    color: #292526;
    font-size: 24px !important;
    font-style: normal;
    line-height: 24px;
    margin-bottom: 10px;
}
.new-rudra-temp button.faq-collapsible {
    align-items: center;
    gap: 5px;
}
.new-rudra-temp .faq-collapsible > div > span >svg {
    width: 100%;
    min-width: 24px;
    max-height: 24px;
}
.new-rudra-temp button.faq-collapsible p {
    min-height: 28px;
    padding-top: 3px;
}
.new-rudra-temp .product-recommendations .card-product {
    border-radius: 10px;
    border: 1px solid #E6E6E6;
    background: #FFF;
    box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.05);
}
.new-rudra-temp .product-recommendations .link-product-variant {
    border-radius: 10px 10px 0 0;
}
.new-rudra-temp  .watsapp-block {
    padding: 16px 16px 6px;
    background: #fff;
    border-radius: 10px;
    margin-bottom: 10px;
}
   .r-form > div {
    width: 100%;
    max-width: 1200px;
    margin: auto;
}
.r-form button {
    padding: 12px;
}
.r-form {
    background: #F6F6F6;
    padding: 20px;
}
.r-form>div {
    align-items: center;
    gap: 20px;
}
.r-form>div {
  padding: 20px 25px 1px;
}
.r-form img{
      height: auto;
}
.r-form  h2.mob {
    display: none;
}
.new-rudra-temp .product-form__input.custom_items_color_picker {
    background: #fff;
    padding: 16px 16px 3px;
    border-radius: 8px;
}
.new-rudra-temp  .main_product_options {
    background: #fff;
    margin: 8px 0;
    border-radius: 8px;
    padding: 16px;
    padding-top: 16px;
}
.new-rudra-temp  section.delivery-check-container {
    padding: 16px;
    background: #FFF5E8;
}
.new-rudra-temp  .delivery-check-container button {
    background-color: #3D3D3D;
}
.new-rudra-temp .del-heading svg {
    display: none;
}
.new-rudra-temp h2.ewck-bogo-t {
    font-family: Inter, sans-serif !important;
    border-radius: 8px;
    background: #E9FFE5;
    width: fit-content;
    align-self: center;
    padding: 5px 14px;
    color: #348325 !important;
}
.new-rudra-temp .ewck-bogo-w {
    padding: 16px;
    border-radius: 8px;
}
.new-rudra-temp select.ewck-default-select {
    border-radius: 4px;
    border: 1px solid #DDD;
    background: transparent;
    width: 100%;
    max-width: 100% !important;
    padding: 9px !important;
    font-size: 14px !important;
    font-family: Inter, sans-serif;
    margin-top: 8px;
}

.new-rudra-temp .ewck-bogo-p-w > div:first-child {
    background: #F5F5F5;
}
.new-rudra-temp .ewck-bogo-p-w > div:not(:nth-child(2)) {
  border-radius: 10px;
  border: 1px solid #DADADA;
  padding: 12px;

}

.new-rudra-temp span.ewck-bogo-b-p-t, .new-rudra-temp span.ewck-bogo-g-p-t {
    color: #000;
    font-family: Inter, sans-serif;
    font-size: 14px !important;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 8px;
}

.new-rudra-temp span.ewck-bogo-b-p-p, .new-rudra-temp span.ewck-bogo-g-p-p {
    font-family: Inter , sans-serif !important;
    font-size: 14px !important;
    letter-spacing: 0.48px;
}
.new-rudra-temp .ewck-bogo-b-p, .new-rudra-temp .ewck-bogo-g-p {
    height: 100%;
}

.new-rudra-temp .ewck-bogo-g-p-i-w + div {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.new-rudra-temp .custom-accordion .custom-accordion-toggle {
    background: #fff;
}
.new-rudra-temp .info-title h3 {
    font-size: 20px;
    font-weight: bold;
}

.new-rudra-temp .info-title {
    padding: 16px 16px 8px;
    margin-top: 10px;
    margin-bottom: -10px;
    border-radius: 8px 8px 0 0 !important;
}
.new-rudra-temp input[aria-label="Without Silver Capping"] + label::before {
    content: url("https://cdn.shopify.com/s/files/1/0878/4907/4985/files/Rectangle_49_1.png?v=1763729427");
    width: 48px;
    max-height: 48px;
}

.new-rudra-temp input[aria-label="With Silver Capping"] + label::before {
    width: 48px;
    max-height: 48px;
    content: url("https://cdn.shopify.com/s/files/1/0878/4907/4985/files/image_21_f026d7af-ac9d-4a8e-b4b5-97be210f3efa.png?v=1763729427");
}
.new-rudra-temp .input-radio:checked+label {
    border-radius: 8px;
    border: 1px solid #E0AF23;
    background: #FFF;
    color: #E0AF23;
}
.new-rudra-temp .input-radio + label {
         gap: 5px;
}
.new-rudra-temp .product-variant-option>.input-radio:checked+label>span {
    color: #E0AF23;
}
.temp-low-rudraksha .mt-2.block-price {
    margin: 12px 0 0;
}

.temp-low-rudraksha .product-continuous_timer-main {
    background: #fff;
    padding: 0 16px 16px;
    border-radius: 0px  0px 8px 8px;
    border-bottom: 6px solid #f6f6f6 !important;
}

.temp-low-rudraksha p#product-continuous_timer {
    background: #FFEDED;
    padding: 8px 12px;
    border-radius: 8px;
}

.temp-low-rudraksha .price-low-rudraksha {
    padding-bottom: 12px;
}
@media screen and (min-width:749px){
 


}

















@media screen and (max-width:748px){
.new-rudra-temp .content-template--25060378771753__main {
    background: #ffffff;
} 
.r-form {
    padding: 0 12px 18px;
    border-radius: 0;
    background: #fff;
    border-bottom: 8px solid #f6f6f6;
}

.r-form>div>div {
        max-width: 60%;
        z-index: 1;
        position: relative;
    }
.new-rudra-temp .r-content>p, .new-rudra-temp .r-content>p>strong{
    font-size: 14px !important;
    line-height: var(--rudra-lheight);

}

.r-form h2.mob {
    display: flex;
    color: #111;
    padding: 20px 20px 0px;
    text-align: center;
    font-style: normal;
    font-weight: 600;
    line-height: normal;
    margin-bottom: 25px;
}
.r-form h2.desk {
    display:none;
}
.r-content ul {
    flex-direction: column;
    padding: 16px 0;
    border-bottom: none;
    margin-bottom: 4px;
    display: flex;
    gap: 8px;
}
.r-content {
    padding-bottom: 16px;
}

.r-form>div {
    padding: 16px 16px 0;
    overflow: hidden;
}
.new-rudra-temp .r-content>strong {
    font-size: 14px;
}
.new-rudra-temp .r-content>p, .new-rudra-temp .r-content>p>strong {white-space: nowrap;}

.r-form>div {
    gap: 10px;
    align-items: flex-end;
}
.r-form button {
    padding: 8px;
}
.r-form>div>div:nth-child(2) {
    display: flex;
    align-items: self-end;
    z-index: 0;
    position: relative;
}
.r-form img {
    height: 36vh;
    object-fit: cover;
    overflow-x: visible;
}
.new-rudra-temp  .prod-container,.new-rudra-temp .product-info{
    padding:0px !important;

}
.new-rudra-temp section.delivery-check-container {
    margin: 12px;
}
.new-rudra-temp .prod-group .prod-badge {
    padding: 0px 0 0px;
}
.new-rudra-temp  .block-price {
    background: #fff;
    border: solid #f6f6f6;
    border-width: 6px 0px !important;
    margin: 0;
    padding: 12px;
    border-radius: 0;
}
.new-rudra-temp h1.product-title {
        padding: 0 12px 12px;
 }
 .new-rudra-temp .accordian,.new-rudra-temp .custom-accordion {
    margin: 12px;
}
.new-rudra-temp .info-title {
    border-top: 6px solid #f6f6f6;
    border-radius: 0 !important;
}
.new-rudra-temp .info-title h3 {
    text-align: center;
}
.new-rudra-temp  .product-recommendations, .new-rudra-temp .watsapp-block, .new-rudra-temp .faq-container, .new-rudra-temp .aplus-section{
    border-radius: 0 !important;
}
.new-rudra-temp section,.new-rudra-temp .content-template--25051978760489__main {
    background: #ffffff ;
}
.temp-low-rudraksha .product-continuous_timer-main {
    border: 0;
}

.temp-low-rudraksha .mt-2.block-price {
    border-bottom: 0px !important;
}

.temp-low-rudraksha p#product-continuous_timer {
    color: #FF0000;
}
}