button#trackButton:disabled{background-color:#ccc;cursor:not-allowed}
.track-order-container{width:100%;max-width:600px;margin:0 auto;padding:20px;background-color:#fff;margin-top:20px;border-radius:12px}
.track-order-container h2{color:#000;text-align:center;font-size:18px;font-style:normal;font-weight:700;line-height:normal}
form#trackOrderForm{border-radius:var(--Corner-Large,16px);background:#e8e8e8;padding:20px;margin-top:20px}
input#awbNumber{margin-top:10px}
label+span{color:var(--Grey-text-1,#8e8e8e);font-family:Inter,sans-serif;font-size:12px;font-style:normal;font-weight:600;line-height:normal}
.form-group{margin-bottom:20px}
label{display:block;margin-bottom:8px;color:#000;font-family:Inter,sans-serif;font-size:14px;font-style:normal;font-weight:600;line-height:normal}
input[type=text]{width:100%;padding:12px;font-size:12px;border-radius:var(--Corner-Full,1000px);background:#fff;border:0;outline:0}
button#trackButton{border-radius:var(--Corner-Full,1000px);background:#000;color:#fff;font-family:Inter,sans-serif;font-size:12px;font-style:normal;font-weight:700;line-height:26px;padding:8px;width:100%;z-index:1}
button:hover{background-color:#222}
#orderDetails{background:#fff;border-radius:16px;padding:20px 10px;margin-top:30px;font-family:'Helvetica Neue',sans-serif;box-shadow:0 0 6px rgba(0,0,0,.08)}
#orderDetails h3{margin-bottom:8px;font-size:18px;font-weight:600}
.cust-details p:nth-child(2n){padding:0 0 0 30px;border-left:1px solid #d1d5db}
#orderDetails p strong{color:#000;font-weight:600;font-family:poppins}
#orderDetails p,.awb-section p,.cust-details p{margin:6px 0;font-family:Inter,sans-serif;font-size:12px;font-style:normal;line-height:16px;font-weight:600;color:var(--grey-3,#9ca3af)}
.cust-details p:not(:last-child),.o_det p{width:100%;max-width:50%}
.cust-details{display:flex;flex-wrap:wrap;padding:0 10px}
.o_det p{width:100%;max-width:fit-content}
.o_det,.o_det p{display:flex;align-items:center}
.o_det p:last-child{flex-direction:column;align-items:flex-start;padding-left:15px}
.o_det p.status span{padding:4px 8px;font-size:12px;border-radius:20px;display:flex}
#orderDetails hr{border:none;border-top:1px solid #e0e0e0;margin:16px 0}
.awb-section{background:#f6f6f6;border-radius:12px;padding:10px 12px;margin-top:24px}
.product-item{display:flex;justify-content:space-between;margin-bottom:10px;padding-bottom:8px}
.product-item:last-child{border-bottom:none}
.product-item-name{color:#000;font-family:Inter,sans-serif;font-size:14px;font-style:normal;font-weight:500;line-height:16px}
.product-item-qty{font-size:13px;color:#555}
.product-item-price{color:#000;font-family:Inter,sans-serif;font-size:14px;font-style:normal;font-weight:700;line-height:16px}
.stepper{padding-top:20px;margin-top:10px;border-top:1px solid #d1d5db}
.step{display:flex;align-items:center;margin-bottom:14px}
.step-circle{width:17px;height:17px;border-radius:50%;background-color:#fff;border:1px solid #848484;margin-right:14px}
.step-label{font-size:14px;color:#999}
.step-div{position:relative;display:flex;flex-direction:row}
.step-div .verticle{border-left:2px dashed #848484;margin:15px 0;position:absolute;left:8px;z-index:0;height:150px}
.stepper-cont{z-index:2}
.step.active .step-circle,.step.completed .step-circle{background-color:#4caf50;border:1px solid #4caf50}
#orderDetails h3{margin-bottom:16px;color:#000;font-family:Inter,sans-serif;font-size:14px;font-style:normal;font-weight:600;line-height:18px}
.step .step-label{color:#000;font-family:Inter,sans-serif;font-size:12px;font-style:normal;font-weight:600;line-height:16px}
button#trackButton::before{content:url(/cdn/shop/files/order-tracking_1_1.svg?v=1742993029);position:absolute;left:calc(40% - 10px);height:20px;top:21%}
.product-item-name span{padding:6px 5px 6px 8px;margin-right:8px;background:#fff;border-radius:7px;color:#8e8e8e}
.o_det{margin-bottom:15px;justify-content:space-between}
.error-modal{display:none;position:fixed;z-index:1;left:0;top:0;width:100%;height:100%;overflow:auto;background-color:rgba(0,0,0,.4)}
.error-modal-content{background-color:#fff;padding:20px;border:1px solid #888;width:80%;z-index:199;text-align:center;border-radius:8px;position:absolute;inset:0px;height:5rem;max-width:100vw;max-height:100dvh;margin:auto}
.error-close-btn{color:#aaa;float:right;font-size:28px;font-weight:700;cursor:pointer}
.error-close-btn:focus,.error-close-btn:hover{color:#000;text-decoration:none;cursor:pointer}
tton#trackButton:active{background:#0000006e}
.status-Packed span{color:#d37a11;background-color:#ff8a0069}
.status-Processed span{color:#0f6674;background-color:#d1ecf1}
.status-Shipped span{color:#004085;background-color:#cce5ff}
.status-InTransit span{color:#856404;background-color:#fff3cd}
.status-out-for-delivery span{color:#721c24;background-color:#ffe5b4}
.status-Delivered span{color:#155724;background-color:#d4edda}
.status-Returned span{color:#721c24;background-color:#f8d7da}
.status-Cancelled span{color:#6c757d;background-color:#f8f9fa}
.status span::before{content:" ";border-radius:50%;border:5px solid;padding:0;height:2px;width:8px;font-size:0px;margin:3px}
@media screen and (max-width:500px){
button#trackButton::before{left:calc(37% - 20px)}
}